<nav class="border-bottom border-secondary mb-4">
    <div class="container py-2 d-flex justify-content-center align-items-center">
        <a routerLink="/dashboard" class="d-flex gap-3 mx-3 link">
            <span class="material-icons" style="font-size: 24px;">dashboard</span>
        </a>
        <a routerLink="/dashboard/tasks" class="d-flex gap-3 mx-3 link">
            <span class="material-icons" style="font-size: 24px;">task</span>
        </a>
        <a routerLink="/dashboard/posts" class="d-flex gap-3 mx-3 link">
            <span class="material-icons" style="font-size: 24px;">image</span>
        </a>
        <a routerLink="/dashboard/users" class="d-flex gap-3 mx-3 link">
            <span class="material-icons" style="font-size: 24px;">people</span>
        </a>
    </div>
</nav>